<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <!-- If you would like to add new css link -->
    <link rel="stylesheet" href="/styles/gallery.css">
</head>
<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div class="gallery-container">
            <% for(let photo of photos) { %> 
                <div class="gallery-item">
                    <img src="<%= photo.url %>" alt="<%= photo.username %>" />
                    <div class="gallery-item-info">
                        <div class="info-container">
                            <div class="info-title"><%= photo.owner.username %></div>
                            <div class="content">
                                <% if(photo.description.length > 250) { %> 
                                    <%= photo.description.substring(0,250)+"..." %>
                                <% }else { %>
                                    <%= photo.description %>
                                <% } %>
                            </div>
                            <div class="tag-container">
                                <% for(let tag of photo.tags) { %>
                                    <div class="tag"><a href="/gallery/tags?tag=<%= tag.split('#')[1] %>"><%= tag %></a></div>
                                <% } %>
                            </div>
                            <div class="visit"><a href="/users/<%= photo.owner._id %>">Visit owner</a></div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="top-tags">
            <h1>Trends for you</h1>
            <div class="top-tags-container">
                <% for( let tag of tags ) { %>
                    <a 
                        href="/gallery/tags?tag=<%= tag._id.split('#')[1] %>"
                        class="tag-item <%= ('#'+selectedTag) === tag._id ? 'selected-tag' : '' %>"
                    >
                        <%= tag._id %>
                    </a>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>